# Ignore IDE specific files
*.komodo*
*.sublime*
!*.sublime-syntax
.idea/

## OS specific files
.DS_Store
.DS_Store?
.fuse*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log files
npm-debug.log
v8.log
*.cpuprofile
callgrind*
*.wtf-trace

# Ignore report files
plato/
*.0x/

# Dependencies
node_modules/

# Coverage directory used by istanbul
.nyc_output/
coverage/

# Coveralls contains private info
.coveralls.yml

# Locks
package-lock.json
npm-shrinkwrap.json
yarn.lock

# The client side file is generated on startup
hawkejs-client-side.js

# Test files
scratch*
test/css/*