<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">News</li>
			<li><% add_link('/news/:id', {title: "Superboete voor wie niet komt opdagen in 'Het Spiegelpaleis'", match: {class: {parent: {class: 'active'}}}, urlvars: {id: 47}}) %></li>
			<li><% add_link('/news/:id', {title: "Steven Van Herreweghe: 'We wisten dat het op de nieuwe zee woelig zou zijn'", match: {class: {parent: {class: 'active'}}}, urlvars: {id: 21}}) %></li>
		</ul>
	</div><!--/.well -->
</div><!--/span-->