<% expands('pages/index') %>

<% start('image') %>
<% if(typeof newsitem !== 'undefined') { %>
	<h2><%= newsitem.title %></h2>
	<p><%= newsitem.text %></p>
	<p><a class="btn" href="#">View details &raquo;</a></p>
<% } else { %>
	<p>This newsitem does not exist!
<% } %>
<% end('image') %>

<% if (typeof newsitem !== 'undefined' && newsitem.id == 20) { %>
	<% start('hero') %>
		<h1>Hello again, world!</h1>
		<p>This hero unit content is fetched from newsitem id 20,
		   but the default will not come back unless 
		   <% add_link('/', {title: 'the page with the default value is revisited'}) %>
		</p>
	<% end('hero') %>
<% } %>