<% extend('layouts/body') %>
This is still a test

<%
declare = 'you can declare variables without var, its legal!';
%>

<!--
    Start the "content" block: any html (until end('content') is called) will be
    captured. If any assign('content') calls are encountered, the html will be
    placed there.
-->
<% start('content') %>
<div class="span9">
	<div class="hero-unit">
		<!-- 'hero' blocks go here -->
		<% assign('hero') %>
			<h1>Hello, world!</h1>
			<p>This is the default content for this hero unit</p>
		<% assign_end('hero') %>
		<!--
		     You don't have to use assign_end, but when you do you can put
		     default html between them
		-->
	</div>
	<div class="row-fluid">
		<div class="span4">
			<% add_link('/news/:id', {class: "btn", title: "Previous", urlvars: {id: 20}}) %>
		</div><!--/span-->
		<div class="span4">
			<% //parse_element('elements/image', {deep: false}) %>
			<% assign('image') %>
		</div><!--/span-->
		<div class="span4">
			<% //add_link('/news/:id', {class: "btn", title: "Next", urlvars: {id: 22}}) %>
		</div><!--/span-->
	</div><!--/row-->
</div><!--/span-->
<% end('content') %>