<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<% style('/css/style.css') -%>
		<% script('//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js') -%>
		<% script('/hawkejs/vendor/history.js') -%>
		
		<% script('/js/bootstrap/bootstrap-transition.js') -%>
		<% script('/js/bootstrap/bootstrap-alert.js') -%>
		<% script('/js/bootstrap/bootstrap-modal.js') -%>
		<% script('/js/bootstrap/bootstrap-dropdown.js') -%>
		<% script('/js/bootstrap/bootstrap-scrollspy.js') -%>
		<% script('/js/bootstrap/bootstrap-tab.js') -%>
		<% script('/js/bootstrap/bootstrap-tooltip.js') -%>
		<% script('/js/bootstrap/bootstrap-popover.js') -%>
		<% script('/js/bootstrap/bootstrap-button.js') -%>
		<% script('/js/bootstrap/bootstrap-collapse.js') -%>
		<% script('/js/bootstrap/bootstrap-carousel.js') -%>
		<% script('/js/bootstrap/bootstrap-typeahead.js') -%>
		
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
		</style>
	</head>
	<body>
		
    <!-- Include all the content of elements/topbar into this template -->
		<% implement('elements/topbar') %>

    <div class="container-fluid">
      <div class="row-fluid">
        
				<!-- Include all the content of elements/sidebar into this template -->
				<% implement('elements/sidebar') %>
				
				<!-- 'content' blocks will be put in here -->
				<% assign('content') %>
				
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div>
  </body>
</html>
